doctype html
html
  head
    title= title
    meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='plugins/adminLTE2.3.7/dist/css/skins/_all-skins.min.css')
    link(rel='stylesheet', href='plugins/adminLTE2.3.7/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='plugins/adminLTE2.3.7/plugins/font-awesome.min.css')
    link(rel='stylesheet', href='plugins/adminLTE2.3.7/plugins/ionicons.min.css')
    //link(rel='stylesheet', href='plugins/adminLTE2.3.7/plugins/iCheck/flat/blue.css')
    link(rel='stylesheet', href='plugins/adminLTE2.3.7/plugins/iCheck/square/blue.css')
    link(rel='stylesheet', href='plugins/adminLTE2.3.7/dist/css/AdminLTE.min.css')
    script(src='/plugins/adminLTE2.3.7/plugins/jQuery/jquery-2.2.3.min.js')
    script(src='/plugins/adminLTE2.3.7/dist/js/app.js')
    script(src='/plugins/adminLTE2.3.7/plugins/jquery-ui.min.js')
    script(src='/plugins/adminLTE2.3.7/plugins/iCheck/icheck.min.js')
  
  body
    block content